<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/vue.js"></script>
    <script src="js/vue-resource.js"></script>
    <style>
        .bg {
            background-color: yellow;
        }
    </style>
</head>
<body>
<div id="app">
    <input type="text" v-model="word" @keyup="requestBaidu($event)" @keydown.up="up()" @keydown.down="down()">
    <ul>
        <!--v-xxx="false"-->
        <li v-for="(item,index) in result" :class="{bg:index==iNow}">{{item}}</li>
    </ul>

</div>

<script>

    new Vue({
        el: "#app",
        data: {
            word: "",
            result: [],
            iNow: -1

        },
        methods: {
            //https://sp0.baidu.com/5a1Fazu8AA54nxGko9WTAnF6hhy/su?wd=%E6%B5%B7%E8%B4%BC%E7%8E%8B&cb=jQuery11020956984398050351_1527055466538
            requestBaidu: function (ev) {
                if (ev.keyCode == 38 || ev.keyCode == 40) {
                    return;
                }
                //https://www.baidu.com/s?wd=%E7%83%A4%E9%9D%A2%E7%AD%8B
                if (ev.keyCode == 13) {
                    window.open("https://www.baidu.com/s?wd=" + this.word);

                    return;

                }
                this.$http.jsonp("https://sp0.baidu.com/5a1Fazu8AA54nxGko9WTAnF6hhy/su",
                    {wd: this.word},
                    {jsonp: "cb"}
                ).then(function (data) {
                    this.result = data.data.s;
                }, function (err) {
                    console.log(err);
                })
            },
            up: function () {
                //alert("fjdksjfks");
                this.iNow--;
                if (this.iNow < -1) {
                    this.iNow = this.result.length - 1;
                }
                this.word = this.result[this.iNow];
            },
            down: function () {
                //alert("fjdksjfks");
                this.iNow++;

                if (this.iNow > this.result.length) {
                    this.iNow = 0;

                }
                this.word = this.result[this.iNow];
            }
        }
    })
</script>
</body>
</html>